Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

#páginas
RewriteRule ^sample/?$ views/sample.php 
RewriteRule ^home/?$ views/home.php 

RewriteRule ^products/?$ views/products/index.php 
RewriteRule ^products/create/?$ views/products/create.php 
RewriteRule ^products/details/([^\/]+)/?$ views/products/details.php?slug=$1 [L]
RewriteRule ^products/update/([^\/]+)/?$ views/products/update.php?slug=$1 [L]



#RewriteCond %{REQUEST_URI} ^\/404/$
#RewriteRule ^(.*)$ /views/errors/404.php [L]